<h1 style="background-color:lightgrey; margin:30px; border-top: 3px solid black;"><center><%= @coupon.name %></h2>

<ul>
<h4>Coupon Code:</h4> <%= @coupon.unique_code %>
<% if @coupon.disc_type == "dollar off" %>
  <h4>Discount Amount:</h4> <%= number_to_currency(@coupon.disc_amount) %> Off
<% elsif @coupon.disc_type == "percent off" %> 
  <h4>Discount Amount:</h4> <%= number_to_percentage(@coupon.disc_amount, precision: 0) %> Off
<% end %>
<h4>Active/Inactive:</h4> <%= @coupon.status %>
<br><br><div><b>Times Used:</b> <%= @coupon.times_used %></div>
</ul>