<h2 style="background-color:lightgrey; border-top: 3px solid black; padding:10px; margin:20px;"><center>Invoice #<%= @invoice.id %></h2>
<ul>Status: <%= @invoice.status %></ul>
<ul>Created on: <%= @invoice.format_time_stamp %></ul>
<ul>Subtotal: <%= number_to_currency(@invoice.total_revenue) %></ul>
<% if !@invoice.coupon.nil? %>
  <ul>Grand Total: <%= number_to_currency(@invoice.grand_total) %></ul>
<% end %>
<ul><h2>Customer:</h2>
  <ul><%= @invoice.customer_full_name %></ul>
  <ul>123 Main St.</ul>
  <ul>Denver, CO 80202</ul>
</ul>

<style>
table, th, td {
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 20px;
}
</style>
<br><ul><h2>Items on this Invoice:</h2></ul>
<div id="invoice_items"> 
<table style="width:99%">
  <tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </tr>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <tr id="items-<%= invoice_item.item.id %>">
        <td><center><%= invoice_item.item.name %></td>
        <td><center><%= invoice_item.quantity %></td>
        <td><center><%= number_to_currency(invoice_item.format_unit_price) %></td>
        <td><center>
        <%= form_with model: [@merchant, invoice_item] do |form|%>
        <%= form.label :status, hidden: true %>
        <%= form.select :status, options_for_select([["pending", :pending], [:packaged, "packaged"], [:shipped, "shipped"]], invoice_item.status)%>
        <%= form.submit "Update Item Status"%>
        <% end %> 
        </td>
    </tr>
  <% end %>
</table>
</div>