<!DOCTYPE html>
<html>
  <head>
    <title>LittleMerchShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="border: solid black; margin-bottom:100%">
    <h1 style="font-size:50px; background-color:lightgrey; padding:10px; margin-right:600px; margin-left:600px; margin-top:0px;">
    <center>Lil' E-Shop</h1>
  <body>
  <center><%#= image_tag logo %></center>
  <center>Likes: <%#= show_logo_likes %></center>
  <% flash.each do |type, msg| %>
    <div style="color:red; margin-left:30px; font-size:30px;">
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
